<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css " />
    <link rel="icon" href="/images/weather.png">
    <title>About </title>
</head>


<body>

    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/robot.jpg" alt="img">
        <p> This Site was created by James Nunoo. It uses data from Mapbox.net and weather Stack </p>
    </div>

    {{>footer}}

</body>

</html>